---
import Layout from "../layouts/Layout.astro";
import HeroSection from "./sections/HeroSection.astro";
import About from "./sections/About.astro";
import Atracciones from "./sections/Atracciones.astro";
---

<Layout title="SW Tucuman Aventuras">
	<main class="bg-black">
		<HeroSection />
		<About />
		<Atracciones />
	</main>
</Layout>
